{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Acerca de mí</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<h1>Acerca de mí</h1>

<a href="/">Inicio</a>
<a href="/acerca/">Acerca</a>
<a href="/habilidades/">Habilidades</a>
<a href="/contacto/">Contacto</a>

<p>Mi nombre es Walter soy estudiante de la carrera de Sistemas Informáticos del TECBA.</p>
<p>También soy ingeniero civil y estudié en la Universidad San Francisco Xavier de Chuquisaca.</p>
<p>Soy de la ciudad de Potosí y vivo en Sucre desde hace 15 años.</p>

</body>
</html>